@import "../main";
@mailPreviewWidth : 250px;
@contentPaneWidth : calc(~"100% - " @mailPreviewWidth);
@contentPaneBackground: rgb(37,37,38);
.mail-preview{
    width: @mailPreviewWidth;
    height: 100%;
    background-color: @contentBackground;
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            padding: 0;
            margin: 0;
            border-bottom: 1px solid @menuPaneBackground;
            & > a{
                display: block;
                padding: 5px;
                background-color: @contentBackground;
                transition: all .1s linear;
                text-decoration: none;
                color: @textcolor;
                @keyframes popInPreview{
                    0% { padding-left: 10px; }
                    20% { padding-left: 25px; }
                    100% { padding-left: 10px; }
                }
                &.active, &.active:hover{
                    background-color: @textcolor;
                    animation: popInPreview 500ms ease-out;
                    color: @menuPaneBackground;
                    padding-left: 10px;
                }
                &:hover{
                    background-color: @menuPaneBackground + 10;
                    color: @textcolor + 10;
                    padding-left: 10px;
                }
            } 
        }
    }
}
.contentpane{
    width: @contentPaneWidth;
    height: 100%;
    background-color: @contentPaneBackground;
    max-width: 100%;
    color: @textcolor;
    & > div{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}