@import "../../styles/constants";
@import "../mail/styles/mail";
@fadeOutTimeContentPane: 200ms;
@fadeInTimeContentPane: 360ms;
@fadeFromLeftStartContentPane: 0;
@fadeFromLeftEndContentPane: 50px;
@transitionDelayContentPane: 100ms;
.content-pane-fade-enter, .content-pane-fade-appear {
  opacity: 0.01;
  left: @fadeFromLeftEndContentPane;
}

.content-pane-fade-enter.content-pane-fade-enter-active, .content-pane-fade-appear.content-pane-fade-appear-active {
  opacity: 1;
  left: @fadeFromLeftStartContentPane;
  transition: 
    opacity @fadeInTimeContentPane ease-in @transitionDelayContentPane, 
    left @fadeInTimeContentPane cubic-bezier(0.1, 0.2, 0.3, 1.0) @transitionDelayContentPane;
}

.content-pane-fade-exit {
  opacity: 1;
  left: @fadeFromLeftStartContentPane;
}

.content-pane-fade-exit.content-pane-fade-exit-active {
  opacity: 0.01;
  left: @fadeFromLeftEndContentPane;
  transition: 
    opacity @fadeOutTimeContentPane ease-in @transitionDelayContentPane, 
    left @fadeOutTimeContentPane ease-in @transitionDelayContentPane;
}
